<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="SigningServiceUrl" value="https://signing.awmdm.com/SigningService/" />
    <add key="SigningServiceTokenUrl" value="https://signing.awmdm.com/SigningService/customer/authtoken/?forceReissue={0}" />
    <add key="SigningServiceBulkSignUrl" value="https://signing.awmdm.com/signingservice/certificatesigning/myaw/bulksign/" />
    <add key="CreateCustomerEndpoint" value="https://signing.awmdm.com/signingservice/customer/" />
    <add key="SigningServiceCustomerId" value="utilityTest" />
    <add key="ClientCertificateThumbprint" value="E31C7F9C4348C793894959C0892A230AD4E56CAB" />
    <add key="SigningServiceCustomerIdA" value="autoDeployUtilityA" />
    <add key="SigningServiceCustomerIdB" value="autoDeployUtilityB" />
    <add key="SigningServiceCustomerIdC" value="autoDeployUtilityC" />
    <add key="SigningServiceCustomerIdD" value="autoDeployUtilityD" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>